* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.cursor {
    position: fixed;
    width: 3em;
    height: 3em;
    margin-left: -1.5em;
    margin-top: -1.5em;
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
    background: #fff;
    transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: center center;
    mix-blend-mode: difference;
}